.ant-steps-small .ant-steps-item-title {
    font-size: 12px;
}


.ant-steps-small.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
    padding-left: 0px;
}

.step-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.analysis-type-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.step-select-method {
    font-size: 12px;
    width: 180px;
}

.step-input-parameter {
    font-size: 12px;
}

.step-manual-mode {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.step-reset-curves {
    position: absolute;
    right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .ant-collapse-header {
    font-size: 12px;
    line-height: 3.5715;
    padding: 1px 1px;
    height: 25px;
} */
.ant-collapse-content-box {
    padding-top: 0px;
    font-size: 12px;
}

.display-parameters-forms {
    font-size: 12px;
    padding-bottom: 0px;
    padding-left: 7px;
    height: 270px;
}

